<section class="hebergement--map">
  <iframe width="100%" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&dv&cv&z&l&gc&af&mc&dfe&lat=48.56606285&lng=2.67081021&vz=18&type=hybrid&ti&s&width=550&height=400&id=aavr8rjZNt" style="border:0; max-width: 100%;" allowfullscreen allow="geolocation" loading="lazy"></iframe>
</section>
<section class="py-[4rem] flex flex-col gap-[2rem]">
  <h2>Informations sur le lieu de réception</h2>
  <p>
    Le domaine de Voisenon est divisé en deux sites de réception, <strong>le Moulin</strong> et <strong>le Pigeonnier.</strong><br>
    <strong>Notre réception se déroulera <u>au Pigeonnier</u></strong>, qui est situé à 200 mètres du Moulin. Vous devrez faire attention à bien vous garer sur le parking du Pigeonnier.<br>
    <br>
    Notre réception débutera à 18h.
  </p>
  <p>
    L'adresse du domaine est la suivante :<br>
    <strong>Pigeonnier de Voisenon, Chemin du Moulin, 77950 Voisenon</strong>
  </p>
</section>
