<section class="flex flex-col">
  <div>
    <div class="homepage flex overflow-hidden items-center justify-center">
      <div class="header px-[3rem]">
        <h1>{{ coupleName }}</h1>
        <p>{{ weddingDate }}</p>
      </div>
      <img class="max-w-[40%] max-h-[70vh] overflow-hidden" src="./assets/homepage.jpg" alt="wedding">
    </div>
  </div>
  <div class="mt-[3rem] flex flex-col gap-[1.5rem]">
    <h2>Notre Histoire</h2>
    <app-paragraphoto [content]="notreHistoire.split('\n').slice(0, 3)" img="../assets/photo-notre-histoire-1.jpg" [reverse]="true"/>
    <app-paragraphoto [content]="notreHistoire.split('\n').slice(3)" img="./assets/plop-petit.jpg"/>
  </div>
</section>
