@import "styles.scss";

.homepage {
  background-color: white;
  text-align: center;
  margin-left: -6%;
  margin-right: -6%;
  border: 1px solid;
  box-shadow: 10px 5px 5px $dusty-blue;
}

.header {
  background-color: white;

  h1 {
    font-family: 'CursiveFont', cursive;
    color: $dusty-blue;
    font-size: 5vw;
    margin-bottom: 1rem;
  }

  p {
    font-family: 'CursiveFont', cursive;
    color: $dusty-blue;
    font-size: 3vw;
  }
}




