.photo-displayer--img {
    width: 15%;
    
    &.landscape {
        width: 24%;
        height: auto;
        margin: auto 0;
    }

    &:hover {
        cursor: pointer;
    }
}


@media only screen and (max-width: 400px) {
    .photo-displayer--img {
      width: 48%;

      &.landscape {
        width: 100%;
    }
    }

   
  }