/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$dusty-blue: #AEC6CF;
$rose-pastel: #f0e6f6;
$floral-white: #FFFAF0;
$ardoise: #708090;

body{
  padding: 0;
  padding-top: 6rem;
  padding-bottom: 10%;
  margin: 0;
  background-color: white;
}