/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

@tailwind base;

@layer base {
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;


$dusty-blue: #AEC6CF;
$rose-pastel: #f0e6f6;
$floral-white: #FFFAF0;
$ardoise: #708090;

@font-face {
  font-family: BelovedJourney;
  src: url(assets/fonts/BelovedJourney-WydBA.ttf) format('truetype');
}

body{

  background: rgb(249,228,188);
  background: radial-gradient(circle, rgba(249,228,188,1) 0%, rgba(255,255,255,1) 100%);

  h2 {
    font-family: 'CursiveFont', cursive;
    font-size: 2rem !important;
    color: black;
  } 

  app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  body {
    padding-top: 2.5rem;
  }
}
