
@import "styles.scss";

#footer {
  background-color: #282828;
  color: $floral-white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1rem;
  width: 100%;

  a {
    color: $floral-white;
  }
}