<section class="pt-[1rem] flex flex-col gap-[2rem]">
    <div>
        <button class="flex items-center" (click)="AddImagesDialog.showModal()" style="color:grey;">
            Ajouter
            <i class="material-icons" style="color:grey;">
                    add_photo_alternate
            </i>
        </button>
    </div>
    <dialog #ZoomDialog class="cursor-pointer outline-none" role="dialog"  (click)="ZoomDialog.close();resetModal()">
        <img *ngIf="modalSrc.type == 'image'" class="photo-displayer--zoom" [src]="modalSrc.src" (load)="imageDidLoad($event)">
        <video *ngIf="modalSrc.type == 'video'" controls class="photo-displayer--zoom"  (load)="imageDidLoad($event)">
            <source [src]="modalSrc.src" type="video/mp4"/>
            <source [src]="modalSrc.src" type="video/mov"/>
            <source [src]="modalSrc.src" type="video/avi"/>
            <source [src]="modalSrc.src" type="video/webm"/>
            <source [src]="modalSrc.src" type="video/wmv"/>
        </video>
    </dialog>
    <div class="flex flex-cols flex-wrap gap-[1%] gap-y-4 py-[2%] items-center" >
        <img class="photo-displayer--img block " *ngFor="let photo of items" [src]="photo.thumb" (load)="imageDidLoad($event)" (click)="onClickImage(photo);ZoomDialog.showModal()">
    </div>
    
</section>
<dialog #AddImagesDialog class="cursor-pointer outline-none p-[1rem] rounded-md" role="dialog">
    <div class="flex flex-col gap-[2rem] items-center">
        <p class="self-start">
            Ajoutez vos photos !
        </p> 
        <input 
            type="file"
            accept="image/*,video/*"
            multiple
            (change)="onFileSelected($event)"
        />
        <div class="flex gap-[1rem]">
            <button class="px-[3px] flex gap-[0.5rem] items-center" (click)="AddImagesDialog.close()">
                <p>Annuler</p> 
                <i class="material-icons" style="color:red;">close</i>
            </button>
            <button class="px-[3px] flex gap-[0.5rem] items-center" (click)="uploadFiles();AddImagesDialog.close();">
                <p>Envoyer</p> 
                <i class="material-icons -rotate-[30deg] -translate-y-1" style="color:green;">send</i>
            </button>
        </div>
    </div>
</dialog>